<section class="py-5 container">
  <div class="row py-lg-5 justify-content-center">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1>Batch gegevens</h1>
      <h2>Batch {{batch.batch_NR}}</h2>
      <mat-tab-group dynamicHeight>
        <mat-tab label="Details">
          <div *ngFor="let batchRow of batchRows">
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Batch NR: {{batchRow.batch_NR}}
                </mat-panel-title>
                <mat-panel-description>
                  Afdeling: {{batchRow.department}}
                </mat-panel-description>
              </mat-expansion-panel-header>
              <table class="table">
                <tbody>
                  <tr>
                    <td>Split NR:</td>
                    <td>{{batchRow.split_NR}}</td>
                  </tr>
                  <tr>
                    <td>Start Datum:</td>
                    <td>{{transformdatetime(batchRow.start_datetime)}}</td>
                  </tr>
                  <tr>
                    <td>Eind Datum:</td>
                    <td>{{transformdatetime(batchRow.end_datetime)}} </td>
                  </tr>
                  <tr>
                    <td>Aantal Patienten:</td>
                    <td>{{batchRow.NR_patients}}</td>
                  </tr>
                  <tr>
                    <td>Aantal Zakjes:</td>
                    <td>{{batchRow.NR_bags}}</td>
                  </tr>
                  <tr>
                    <td>MC/CD:</td>
                    <td>{{batchRow.MC_CD}}</td>
                  </tr>
                  <tr>
                    <td>Bijzonderheden:</td>
                    <td>{{batchRow.remarks}}</td>
                  </tr>
                </tbody>
              </table>
            </mat-expansion-panel>
          </div>
          <br>
          <table class="table">
            <tbody>
              <tr>
                <td>Machine ID:</td>
                <td>{{batch.machine_ID}}</td>
              </tr>
              <tr>
                <td>Verpakkingscode:</td>
                <td>{{batch.packaging_code}}</td>
              </tr>
              <tr>
                <td>DB:</td>
                <td>{{batch.DB}}</td>
              </tr>
              <tr>
                <td>Vertrekdatum:</td>
                <td>{{batch.leave_datetime}}</td>
              </tr>
              <tr>
                <td>Doorsturen:</td>
                <td>{{batch.forward_datetime}}</td>
              </tr>
              <tr>
                <td>Startdatum:</td>
                <td>{{batch.start_datetime}}</td>
              </tr>
              <tr>
                <td>Einddatum:</td>
                <td>{{batch.end_datetime}}</td>
              </tr>
              <tr>
                <td>Batch gestart:</td>
                <td>{{batch.batch_started}}</td>
              </tr>
              <tr>
                <td>Totaal aantal zakjes:</td>
                <td>{{batch.total_NR_bags}}</td>
              </tr>
              <tr>
                <td>Gecontroleerde zakjes</td>
                <td>{{batch.bags_checked}}</td>
              </tr>
              <tr>
                <td>Patienten:</td>
                <td>{{batch.total_NR_patients}}</td>
              </tr>
              <tr>
                <td>Afgekeurde zakjes:</td>
                <td>{{batch.bags_rejected}}</td>
              </tr>
              <tr>
                <td>Dubbel te controleren zakjes</td>
                <td>{{batch.NR_to_double_check}}</td>
              </tr>
              <tr>
                <td>Dubbel gecontroleerd:</td>
                <td>{{batch.double_checked}}</td>
              </tr>
          </table>
        </mat-tab>
        <mat-tab label="Aanwezige rollen">
          <mat-form-field class="px-5">
            <input matInput type="text" #filter (keyup)="doFilter(filter.value)" placeholder="Filter">
          </mat-form-field>
          <div>
            <table mat-table [dataSource]="dataSource">

              <ng-container matColumnDef="roll">
                <th mat-header-cell *matHeaderCellDef> </th>
                <td mat-cell *matCellDef="let roll"> {{roll.roll_NR}} </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let roll; columns: displayedColumns"
                [routerLink]="['/rollDetails/', roll.roll_NR]"></tr>
            </table>
            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
          </div>
        </mat-tab>
        <mat-tab label="Controles">
          <div *ngFor="let check of checks">
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  {{check.check_type}}
                </mat-panel-title>
                <mat-panel-description>
                </mat-panel-description>
              </mat-expansion-panel-header>
              <table class="table">
                <tbody>
                  <tr>
                    <td>Beschrijving:</td>
                    <td>{{check.check_remarks}}</td>
                  </tr>
                  <tr>
                    <td>Medewerker:</td>
                    <td>{{check.checked_by}}</td>
                  </tr>
                </tbody>
              </table>
            </mat-expansion-panel>
          </div>
        </mat-tab>
      </mat-tab-group>
      <br>
      <button mat-raised-button color="primary" (click)="back()">Terug naar de Opdracht</button>
    </div>
  </div>
</section>
